133ページに対するフィードバック


『プロフェッショナルIPv6』2018年1月31日版の問題を指摘してください。代案は不要です。なお、マンパワーの都合でissue上では無反応の可能性が高いです。ごめんなさい。

 * 具体的に指摘をいただきたいポイント
    - 内容の間違い
    - 解説がほしいトピック
    - 意味が取れない段落
* 下記の指摘も歓迎です（grepをかけるので存在の指摘だけで十分です）
    - 技術用語の不統一
    - スペルミス、誤字、脱字
* 下記については、指摘は不要です（3月までには自然に直ります）
    - 日本語表記（漢字や送り仮名）の不統一
    - レイアウトの不備
    - その他、局所的な日本語の問題


p.152にも同様の記述が現れますが、DHCPv6にIA_PDがある理由が「IPv4とIPv6のアドレス割当方法の違い」にあるとする考え方はちょっと疑問です。これは単に、DHCPv6はホストだけでなくルータも対象にできるよう設計されているからだと思いますが、いかがでしょうか。IPv4はルータノードに対するDHCPが定義されていないため、LAN側に別のsubnetを設定する等、ルータとして機能させたいノードの設定の自動化には使えません。結果的にNAPTを使ったCPEのようにuplink側がエンドノードとして見える形での適用が目立ってくることになりますが、ご存知のとおりIPv4でもISPからLAN側のsubnetを（DHCPは使いませんが）割り振ることは特別なことではありませんし、IPv6でも公共無線LANのような環境ではユーザに対して1個のIPアドレスを（SLAACやDHCPv6で）割り振ることが普通にあります。そもそもIPv6のエンドノード相手にprefixを配る手段にはすでにRAがありますから、prefixを配りたいからDHCPv6-PDがある、という理由づけにも無理があると思います。DHCPクライアントがエンドノードなのか、ルータなのかという区別を曖昧にするとIA_PDの意図が伝わらないため、単純に「DHCPv4ではルータの自動設定が想定されていない(RFC2131 Sec.1.3)。一方、DHCPv6の適用範囲はルータを含む形で広く定義されていて、ルータ用の設定オプションとしてIA_PDがある 。これはISPがCPEのLAN側のsubnet prefixを自動設定するために利用するケースが多い」という説明の流れにすることを提案します。