70ページに対するフィードバック


『プロフェッショナルIPv6』2018年1月31日版の問題を指摘してください。代案は不要です。なお、マンパワーの都合でissue上では無反応の可能性が高いです。ごめんなさい。

 * 具体的に指摘をいただきたいポイント
    - 内容の間違い
    - 解説がほしいトピック
    - 意味が取れない段落
* 下記の指摘も歓迎です（grepをかけるので存在の指摘だけで十分です）
    - 技術用語の不統一
    - スペルミス、誤字、脱字
* 下記については、指摘は不要です（3月までには自然に直ります）
    - 日本語表記（漢字や送り仮名）の不統一
    - レイアウトの不備
    - その他、局所的な日本語の問題


このページの問題というわけではないのですが、第4章に RFC 4291 Sec.2.8 に書かれている内容を盛り込むことを提案します。IPv6の解説でアドレスの種類を説明するものはたくさんあるのですが、使う側の視点から考えると、結局どのアドレスがどのように設定されるべきなのかが明確になっていることが重要だと思うからです。特に、IPv6のトラフィックを扱うネットワークインタフェースにはLLAが必須で、GUAだけでは（ほとんどの機能が）動かないという事実は、一般に1個のアドレスだけを設定するIPv4に慣れた管理者が混乱するポイントの一つですし、GUAだけでも中途半端に動く実装が多いためトラブルが発生するまで気付かなかったという例もよく聞きます。アドレスタイプの説明を総合すると理解できる話ではあるのですが、ホストとルータのノードタイプそれぞれで、単純な構成であっても設定されるべきアドレスが複数あることと、マルチキャストメンバの参加も含めてどのアドレスがどの機能に使われるのか概観する説明があれば、もっとイメージが掴みやすいと思います。